:root {
    --primary: #1e1f22;
    --secondary: #2b2d30;
    --tertiary: #3c3e43;
    --quaternary: #565860;

    --white: #fefefe;
    --grey: #c6c6c6;
    --black: #000000;

    --radius: 6px;
    --radius-larger: 15px;
    --spacing: 10px;
    --smaller-spacing: 5px;
    --padding: 5px;
    --padding-larger: 15px;

    --max-chat-width: 1200px;
}

body {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    margin: 0;
    position: relative;
}

* {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: var(--white);
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    max-width: 100vw;
    max-height: 100vh;
}

#sidebar {
    background-color: var(--secondary);
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    padding: var(--padding-larger);
    box-sizing: border-box;
    row-gap: var(--smaller-spacing);
    min-width: fit-content;
}

#sidebar button {
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    min-height: 35px;
}

#chatHistory {
    overflow-y: scroll;
    flex: 1;
}

#chatHistory > div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    width: 100%;
    max-height: none;
    row-gap: var(--spacing);
    text-align: center;
}

#modelSelect {
    flex: 1;
    background: transparent;
    box-sizing: border-box;
    border: 3px solid var(--tertiary);
    border-radius: var(--radius);
}

#modelSelect > option {
    background-color: var(--tertiary);
    border: none;
    outline: none;
}

#chatOuterContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-larger);
    box-sizing: border-box;
}

#chatContainer {
    max-width: var(--max-chat-width);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary);
}

#chat {
    flex: 1;
    overflow-y: auto;
    padding: 0 var(--padding-larger);
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing);
}

#chatWith {
    text-align: center;
    padding: var(--padding);
    box-sizing: border-box;
}

#chatBox {
    display: flex;
    box-sizing: border-box;
    padding: var(--padding-larger);
    width: 100%;
    height: fit-content;
}

#chatBox > div {
    width: 100%;
    box-sizing: border-box;
    border: 3px solid var(--tertiary);
    border-radius: var(--radius-larger);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-grow: 1;
}

#chatBox > div > textarea {
    flex: 1;
    border: none;
    background: none;
    box-sizing: border-box;
    padding: var(--padding);
    font-size: 16px;
    max-height: 200px;
    resize: none;
    transition: 50ms ease-in-out;
}

#chatBox > div > textarea:focus {
    outline: none;
}

#chatBox > div > textarea:disabled {
    cursor: not-allowed;
    color: var(--quaternary);
}

#chatBox > div > button {
    border: none;
    background-color: var(--tertiary);
    padding: 0 var(--spacing);
    box-sizing: border-box;
    transition: 50ms ease-in-out;
    cursor: pointer;
}

#chatBox > div > button:hover {
    background-color: var(--quaternary);
}

#chatBox > div > button:active {
    background-color: var(--secondary);
}

#settingsPage {
    z-index: 99999;
    position: absolute;
    background-color: var(--secondary);
    border-radius: var(--radius-larger);
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: var(--spacing);
}

#settingsPage input, #settingsPage textarea {
    background-color: var(--primary);
}

hr {
    margin-left: 0;
    margin-right: 0;
}

.flex {
    display: flex;
}

#chat .chatSegment {
    width: 100%;
}

#chat .chatBubble {
    background-color: var(--secondary);
    border: none;
    border-radius: var(--radius);
    max-width: 80%;
    box-sizing: border-box;
    padding: var(--padding-larger);
    white-space: pre-wrap;
    word-break: break-word;
}

#chat h3, #chat h2, #chat h1 {
    margin: var(--smaller-spacing) 0;
}

#chat pre {
    padding: var(--padding-larger);
    background-color: var(--primary);
    border-radius: var(--radius-larger);
    box-sizing: border-box;
    margin: 0;
}

#chat pre code {
    background-color: transparent;
}

#chat code {
    white-space: pre-wrap;
    word-break: break-word;
    background-color: var(--secondary);
    box-sizing: border-box;
    border-radius: var(--radius);
}

#chat .codeBlockLanguageOuter {
    background-color: var(--secondary);
    border-radius: var(--radius-larger);
    margin: var(--smaller-spacing) 0;
}

#chat .codeBlockLanguage {
    box-sizing: border-box;
    padding: var(--padding) var(--padding-larger);
    display: flex;
    justify-content: space-between;
}

#chat .languageDiv {
    margin-top: auto;
    margin-bottom: auto;
}

#chat .userBubble {
    float: right;
}

#chat .responseBubble {
    background-color: var(--tertiary);
    float: left;
}

#chatHistory button.selected {
    border: 3px solid var(--quaternary);
}

.standardButton {
    background-color: var(--tertiary);
    border: none;
    box-sizing: border-box;
    transition: 50ms ease-in-out;
    cursor: pointer;
    border-radius: var(--radius);
    font-size: 16px;
    padding: var(--padding);
}

.standardButton:hover {
    background-color: var(--quaternary);
}

.standardButton:active {
    background-color: var(--secondary);
}